# NO BORRAR ESTE YA QUE CUENTA CON INFO SENSIBLE
# El archivo de credenciales debe encontrarse en la direccion de la siguiente linea
/EcommercePersistencia/src/main/resources/config.properties
/EcommercePersistencia/nbproject/

# Targets
/EcommerceDominio/target/
/EcommercePersistencia/target/
/EcommerceNegocio/target/
/Ecommerce/target/
