# NO BORRAR ESTE YA QUE CUENTA CON INFO SENSIBLE
# El archivo de credenciales debe encontrarse en la direccion de la siguiente linea
/EcommerceProject/EcommercePersistencia/src/main/resources/config.properties
/EcommerceProject/EcommercePersistencia/nbproject/

# Targets
/EcommerceProject/EcommerceDominio/target/
/EcommerceProject/EcommercePersistencia/target/
/EcommerceProject/EcommerceNegocio/target/
/EcommerceProject/EcommerceNegocio/nbproject/
/EcommerceProject/Ecommerce/target/
/EcommerceProject/Ecommerce/target/
