:root {
    /* Colores */
    --color-bg-main: #0a2034;
    --color-bg-secondary: #003d72;
    --color-bg-tertiary: #0c1720;
    --color-bg-4th: #0056a2;
    --color-bg-5th: #2a7dc7;
    --color-bg-6th: #3a9dff;

    /* Colores de fuente */
    --color-txt-main: #f8f8f8;
    --color-txt-secondary: #d1d1d1;

    /*Productos*/
    --color-success: #4ade80;
    --color-star: #fbbf24; 

    /*Carrito*/
    --color-border-table: #f8f8f8;

    /*Tarjeta*/
    --color-btn-active: #2e2e8b; 
    --color-txt-placeholder: #5c6b7f;

    /*Confirmación*/
    --color-border: #ffffff;

}