:root {
    /* Colores */
    --color-bg-main: #0a2034;
    --color-bg-secondary: #003d72;
    --color-bg-tertiary: rgb(12, 23, 32);
    --color-bg-4th: #0056a2;
    --color-bg-5th: #2a7dc7;

    /* Colores de fuente */
    --color-txt-main: #f8f8f8;
    --color-txt-secondary: #d1d1d1;
}